IAU Projekt 1.fáza - Prieskumná analýza

In [34]:
import matplotlib
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

Načítanie údajov z datasetov

In [5]:
filename = "084/product.csv"
product = pd.read_csv(filename, sep='\t')
product.head()

  code        store_name    product_ean            location
0   GB           Newbury  6528474892715       Europe/London
1   JP           Fujioka  5286283223229          Asia/Tokyo
2   AU         Carindale  5324066396422  Australia/Brisbane
3   JP               Yao  4730125966337          Asia/Tokyo
4   PK  Naushahra Virkan  9619713549372        Asia/Karachi

In [25]:
filename2 = "084/session.csv"
session = pd.read_csv(filename2, sep='\t')
session.head()

,user_id,pct_rage_click,page_activity_duration,pct_wild_mouse,product_ean,pct_click_product_info,pct_input,pct_scrandom,total_load_time,pct_click,...,mouse_move_total_rel_distance,session_start,screen_height,pct_mouse_move,browser_name,pct_scroll_move,session_id,scroll_move_total_rel_distance,session_duration,wild_mouse_duration
0,1267,13.36096,11.11023,57.22747,5118402349247,61.27995,1.69380,34.23153,9.49291,11.96745,...,9.99263,2021-08-31 01:16:45,600,9.55140,edge,77.30550,1011277,8.30487,145.66025,8.27685
1,1831,39.43056,11.38646,48.81767,6613735863389,55.97373,1.93407,58.66919,1.26378,10.36340,...,10.30287,2021-05-28 17:34:01,768,8.07874,chrome,61.26521,539491,7.70199,109.48956,8.38637
2,374,62.84361,11.17206,53.92373,7388729766852,57.18573,1.59960,47.47953,3.28962,5.02218,...,7.49351,2018-12-28 16:43:17,1024,6.88911,chrome,48.98359,394667,8.17021,204.12507,8.36077
3,2260,64.68865,6.33869,37.68672,1190955887968,54.34917,0.44924,39.85515,2.25213,11.32430,...,8.26995,2022-02-03 06:22:50,800,7.53323,edge,66.82098,748123,7.97703,123.40293,4.17809
4,779,63.11689,4.82687,54.53248,9538008640320,27.01917,1.21089,15.93508,4.11748,10.18901,...,12.31943,2021-03-10 00:03:46,768,9.00901,mobile,75.85706,758679,9.01442,179.22699,8.08819

In [8]:
filename3 = "084/user.csv"
user = pd.read_csv(filename3, sep='\t')
user.head()

,address,birthdate,sex,registration,name,username,mail,user_id,job,residence,race
0,Čajkovského 3\n203 70 Karolinka,2010-01-17,M,2015-03-12,Bohuslav Novotný,lucienemcova,vojtech17@chello.cz,172,NaN,Závrchy 7\n220 65 Luhačovice,unspecified
1,"PSC 7369, Box 4045\nAPO AA 65240",1909-01-15,NaN,2019-07-12,Richard Walker,williamspeter,megan55@yahoo.com,2091,NaN,NaN,unspecified
2,"Piazza Grisoni, 52 Piano 9\n09020, Villanovafr...",1970-07-04,M,2016-06-30,Dario Buscetta,jmajewski,gioeleturati@outlook.com,146,NaN,NaN,NaN
3,"Rua Vitor Gabriel Gonçalves, 8\nVila Independe...",1915-10-01,NaN,2013/09/29,Bianca Cardoso,melissa88,nrodrigues@ig.com.br,659,Educador,NaN,asian
4,Pod Čertovou Skalou 4\n455 19 Nalžovské Hory,NaN,NaN,16 Aug 2017,Tomáš Blažek,frantisekprochazka,kadlecovasara@chello.cz,1196,NaN,NaN,NaN

Základný opis dát spolu s ich charakteristikami

DATASET:product

Dataset product.csv obsahuje dokopy 14915 záznamov popisu produktov. Počet všetkých atribútov týchto záznamov je 4. 

Zoznam jednotlivých atribútov:

	product_ean
	store_name
	code
	location

In [10]:
product.shape

(14915, 4)

In [11]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14915 entries, 0 to 14914
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         14895 non-null  object
 1   store_name   14915 non-null  object
 2   product_ean  14915 non-null  int64
 3   location     14915 non-null  object
dtypes: int64(1), object(3)
memory usage: 466.2+ KB

In [13]:
product.describe()

        product_ean
count  1.491500e+04
mean   5.005494e+12
std    2.883216e+12
min    8.830915e+08
25%    2.505067e+12
50%    5.006744e+12
75%    7.507479e+12
max    9.999557e+12

Identifikácia problémov v dátach s prvotným riešením

Overenie duplicitných záznamov

In [17]:
duplicate = product[product.duplicated()]
product = product.drop_duplicates()
print("Počet záznamov v datasete: "+str(len(product)))
print("V datasete sa nachádza: " + str(len(duplicate)) + " duplikátov.")

Počet záznamov v datasete: 14915
V datasete sa nachádza: 0 duplikátov.

DATASET:session

Dataset session.csv obsahuje dokopy 11046 záznamov popisu produktov. Počet všetkých atribútov týchto záznamov je 25. 

Zoznam jednotlivých atribútov:(session.info)

In [18]:
session.shape

(11046, 25)

In [20]:
session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11046 entries, 0 to 11045
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         11046 non-null  int64
 1   pct_rage_click                  11035 non-null  float64
 2   page_activity_duration          11035 non-null  float64
 3   pct_wild_mouse                  11035 non-null  float64
 4   product_ean                     11046 non-null  int64
 5   pct_click_product_info          11035 non-null  float64
 6   pct_input                       11035 non-null  float64
 7   pct_scrandom                    11035 non-null  float64
 8   total_load_time                 11046 non-null  float64
 9   pct_click                       11035 non-null  float64
 10  screen_width                    11046 non-null  object
 11  pct_scroll_move_duration        11035 non-null  float64
 12  ack                             11046 non-null  float64
 13  pct_mouse_click                 11035 non-null  float64
 14  pct_doubleclick                 11035 non-null  float64
 15  mouse_move_total_rel_distance   11035 non-null  float64
 16  session_start                   11046 non-null  object
 17  screen_height                   11046 non-null  object
 18  pct_mouse_move                  11035 non-null  float64
 19  browser_name                    11046 non-null  object
 20  pct_scroll_move                 11035 non-null  float64
 21  session_id                      11046 non-null  int64
 22  scroll_move_total_rel_distance  11034 non-null  float64
 23  session_duration                11046 non-null  float64
 24  wild_mouse_duration             11035 non-null  float64
dtypes: float64(18), int64(3), object(4)
memory usage: 2.1+ MB

In [21]:
session.describe()

,user_id,pct_rage_click,page_activity_duration,pct_wild_mouse,product_ean,pct_click_product_info,pct_input,pct_scrandom,total_load_time,pct_click,...,ack,pct_mouse_click,pct_doubleclick,mouse_move_total_rel_distance,pct_mouse_move,pct_scroll_move,session_id,scroll_move_total_rel_distance,session_duration,wild_mouse_duration
count,11046.000000,11035.000000,11035.000000,11035.000000,1.104600e+04,11035.000000,11035.000000,11035.000000,11046.000000,11035.000000,...,11046.000000,11035.000000,11035.000000,11035.000000,11035.000000,11035.000000,1.104600e+04,11034.000000,11046.000000,11035.000000
mean,1255.780645,49.335913,8.690997,48.587438,5.028290e+12,49.111376,1.178877,50.285934,4.005360,9.289874,...,0.548162,9.682500,9.456206,9.292634,8.508854,52.182707,7.518338e+05,8.519333,150.604875,6.792734
std,718.615742,13.942751,2.233684,13.214715,2.890200e+12,13.296536,2.160966,12.439419,2.805904,2.028780,...,0.497698,2.473803,2.002375,2.118023,0.998451,13.502190,4.315524e+05,1.007736,60.977556,1.410734
min,0.000000,0.000000,0.737390,0.000000,2.412431e+09,0.000000,0.000000,0.000000,0.013140,1.090310,...,0.000000,0.000000,1.699640,0.342750,4.891520,0.000000,1.030000e+03,4.470330,-92.919090,0.602960
25%,636.000000,39.724560,6.988780,39.763010,2.556155e+12,40.187780,0.609060,41.917425,1.938618,8.281450,...,0.000000,8.010070,8.297860,8.042850,7.839245,43.071045,3.783465e+05,7.839832,109.499407,5.932995
50%,1250.500000,49.316090,8.828940,48.687750,5.008988e+12,49.064000,0.773720,50.249340,3.374895,9.758960,...,1.000000,9.677540,9.730900,9.702120,8.500650,52.143120,7.537820e+05,8.518630,150.397070,6.805400
75%,1884.000000,58.940205,10.420815,57.461865,7.556391e+12,58.072415,1.073915,58.698980,5.401983,10.666375,...,1.000000,11.320900,10.820610,10.715855,9.191965,61.328060,1.122913e+06,9.202202,191.316595,7.638670
max,2499.000000,100.000000,15.557980,100.000000,9.998981e+12,100.000000,100.000000,100.000000,23.115910,14.642410,...,1.000000,21.039530,16.734470,16.348300,11.981490,100.000000,1.499885e+06,12.324070,391.029670,12.862990

Identifikácia problémov v dátach s prvotným riešením

Overenie duplicitných záznamov

In [26]:
duplicate = session[session.duplicated()]
session = session.drop_duplicates()
print("Počet záznamov v datasete: "+str(len(session)))
print("V datasete sa nachádza: " + str(len(duplicate)) + " duplikátov.")

Počet záznamov v datasete: 10915
V datasete sa nachádza: 131 duplikátov.

DATASET:user

Dataset user.csv obsahuje dokopy 2585 záznamov popisu produktov. Počet všetkých atribútov týchto záznamov je 11. 

Zoznam jednotlivých atribútov:(user.info)

In [30]:
user.shape

(2585, 11)

In [31]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2585 entries, 0 to 2584
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   address       2197 non-null   object
 1   birthdate     1422 non-null   object
 2   sex           1293 non-null   object
 3   registration  2585 non-null   object
 4   name          2585 non-null   object
 5   username      2585 non-null   object
 6   mail          2585 non-null   object
 7   user_id       2585 non-null   int64
 8   job           1034 non-null   object
 9   residence     905 non-null    object
 10  race          776 non-null    object
dtypes: int64(1), object(10)
memory usage: 222.3+ KB

In [32]:
user.describe()

           user_id
count  2585.000000
mean   1279.099420
std     733.313018
min       0.000000
25%     652.000000
50%    1283.000000
75%    1903.000000
max    2584.000000

Identifikácia problémov v dátach s prvotným riešením

Overenie duplicitných záznamov

In [27]:
duplicate = user[user.duplicated()]
user = user.drop_duplicates()
print("Počet záznamov v datasete: "+str(len(user)))
print("V datasete sa nachádza: " + str(len(duplicate)) + " duplikátov.")

Počet záznamov v datasete: 2585
V datasete sa nachádza: 0 duplikátov.